<nav>
  <div class="logo">
    <h4>SCHEDULE</h4>
  </div>
  <ul class="nav-links">
    <li><a href="/schedule">Home</a></li>
    <li><a href="/schedule/user/<%= user%>">SajátBeosztás</a></li>
    <li><a href="/schedule/new">Létrehozás</a></li>
    <li><a href="/logout">Kijelentkezés</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
