<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/register.css" />
    <title>Regisztráció</title>
  </head>
  <body>
    <div class="square">
      <form class="logIn" method="POST">
        <h1>Regisztráció</h1>
        <div class="info">
          <input
            class="text-input"
            type="text"
            name="code"
            placeholder="Azonosító"
            required
          />
          <input
            class="text-input"
            type="text"
            name="name"
            placeholder="Név"
            required
          />
          <input
            class="text-input"
            type="text"
            name="email"
            placeholder="E-mail"
            required
          />
          <input
            class="text-input"
            type="password"
            name="password"
            placeholder="Jelszó"
            required
          />
          <input class="reggomb" type="submit" value="Regisztráció" />
        </div>
      </form>
    </div>
  </body>
</html>
