@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Saira Extra Condensed", sans-serif;
  color: white;
  font-size: 1.4em;
}

.form-container {
  width: 700px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 30%;
  border-radius: 1%;
  transform: translate(-50%, -50%);
  background-color: rgb(34, 33, 33);
  padding-left: 2%;
  padding-right: 2%;
}

.date {
  height: 30px;
}
.emp,
.emp,
.etime,
.btime {
  width: 120px;
  height: 30px;
  font-size: 16px;
}
.date-ctn {
  padding: 5px;
  width: 40%;
}
.times,
.emps,
.text {
  padding: 5px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.btns {
  padding: 5px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  background-color: rgba(9, 199, 104, 0.808); /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  font-size: 16px;
  width: 80px;
}
.back-btn {
  background-color: rgba(199, 9, 9, 0.808); /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  font-size: 16px;
  width: 80px;
}

.back-btn:hover {
  background-color: rgba(255, 0, 0, 0.746);
  cursor: pointer;
}
.submit-btn:hover {
  background-color: rgba(0, 255, 55, 0.746);
  cursor: pointer;
}
